body{

    border: 1px black solid;
    height: 870px;
    width: 450px;
    margin-left: 640px;
    margin-top: 15px;
    border-radius: 25px;

}

#bar {
    display: block;
    /* position: absolute; */
    margin-left: 40px;
    margin-top: 50px;
    margin-bottom: 20px;
    /* border: 1px black solid; */
    height: 45px;
    width: 350px;

}

#arrow-left {
    display: inline;
    /* black */
    /* border: 1.712px solid #1B1B1B; */
    height: 23px;
    width: 23px;
    /* margin-left: 0px; */
}

#notification {
    display: inline;
    margin-left: 80px;
    /* border: 1.712px solid #1B1B1B; */

    /* padding-top: 5px; */
    height: 23px;
    width: 23px;
}

#h1 {
    margin-bottom: 20px;
    margin-left: 80px;
    font-size: 30px;
    display: inline;
    color: black;
    /* border: 1.712px solid #1B1B1B; */

}

#Fill-in-with {
    font-size: 18px;
    color: black;
    /* border: 1.712px solid #1B1B1B; */
    margin-left: 120px;
    margin-top: 80px;

}

#Card-holder-name {
    font-size: 17px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #B6B6B6;
    /* border: 1.712px solid #1B1B1B; */
    margin-left: 50px;
    margin-top: 30px;
    
}

#name {
    height: 73px;
    width: 330px;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 11.41px;
    border: 1.14px solid #CCCCCC;
    
}

#img-card {
    height: 188.75px;
    width: 350px;
    margin-left: 40px;
}

#img-card2 {
    height: 188.75px;
    width: 350px;
    margin-left: 40px;
    margin-bottom: -220px;
}
.botton{
    color: white;
    font-size: 19px;
    display: block;
    height: 65px;
    width: 160px;
    background-color: #7D73C3;
    margin-left: 230px;
    margin-top: 30px;
    border-radius: 35px;
}
